:root {
	--min-width: 1400px;

	/* TODO: Figure out why these lines don't line up. what the heck!!! */
	--bracket-border: 2px solid var(--c-text);

	--bracket-columns: 15;

	--c-rosewater: #dc8a78;
	--c-flamingo: #dd7878;
	--c-pink: #ea76cb;
	--c-mauve: #8839ef;
	--c-red: #d20f39;
	--c-maroon: #e64553;
	--c-peach: #fe640b;
	--c-yellow: #df8e1d;
	--c-green: #40a02b;
	--c-teal: #179299;
	--c-sky: #04a5e5;
	--c-sapphire: #209fb5;
	--c-blue: #1e66f5;
	--c-lavender: #7287fd;
	--c-text: #4c4f69;
	--c-subtext-0: #6c6f85;
	--c-subtext-1: #5c5f77;
	--c-overlay-0: #9ca0b0;
	--c-overlay-1: #8c8fa1;
	--c-overlay-2: #7c7f93;
	--c-surface-0: #ccd0da;
	--c-surface-1: #bcc0cc;
	--c-surface-2: #acb0be;
	--c-base: #eff1f5;
	--c-mantle: #e6e9ef;
	--c-crust: #dce0e8;
}

@media (prefers-color-scheme: dark) {
	:root {
		--c-rosewater: #f2d5cf;
		--c-flamingo: #eebebe;
		--c-pink: #f4b8e4;
		--c-mauve: #ca9ee6;
		--c-red: #e78284;
		--c-maroon: #ea999c;
		--c-peach: #ef9f76;
		--c-yellow: #e5c890;
		--c-green: #a6d189;
		--c-teal: #81c8be;
		--c-sky: #99d1db;
		--c-sapphire: #85c1dc;
		--c-blue: #8caaee;
		--c-lavender: #babbf1;
		--c-text: #c6d0f5;
		--c-subtext-0: #a5adce;
		--c-subtext-1: #b5bfe2;
		--c-overlay-0: #737994;
		--c-overlay-1: #838ba7;
		--c-overlay-2: #949cbb;
		--c-surface-0: #414559;
		--c-surface-1: #51576d;
		--c-surface-2: #626880;
		--c-base: #303446;
		--c-mantle: #292c3c;
		--c-crust: #232634;
	}
}

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;

	color: var(--c-text);
	background-color: var(--c-base);
}

body {
	/* HACK: Gotta find a better way to make this look good on small screens */
	min-width: var(--min-width);
	font-size: 12pt;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	margin-bottom: 2rem;
}

header h1 {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;

	max-width: 40%;

	margin: 1rem 0;
	padding: 0;
}

header h1 span {
	display: block;
	text-align: center;
}

header hr {
	width: 50%;
}

header hr:first-of-type {
	margin-top: 0;
}

footer {
	width: 100%;
	text-align: center;

	font-size: 10pt;
}

footer ul {
	list-style-type: none;
	padding-left: 0;
}

footer ul li {
	padding: 0.1rem 2rem;
}

footer ul li.social {
	display: inline-block;
}

footer a,
footer a:link,
footer a:visited,
footer a:hover,
footer a:focus,
footer a:active {
	text-decoration: none;
}

a, a:link, a:visited, a:hover, a:focus, a:active {
	color: var(--c-lavender);
}

/* 15 columns, 38 rows */
#bracket-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}

#left, #right {
	display: flex;
	flex-direction: column;
}

#left .group {
	display: flex;
	flex-direction: row;
}

#right .group {
	display: flex;
	flex-direction: row-reverse;
}

.entries > .bracket-item:last-child {
	margin-bottom: 2rem;
}

/* TODO: maybe figure out a way to not hardcode this */
#round-38 > .entries > .bracket-item:last-of-type,
#round-76 > .entries > .bracket-item:last-of-type {
	margin-bottom: 0 !important;
}

.entries {
	display: flex;
	flex-direction: column;
}

#left .entries > .bracket-item {
	border-right: var(--bracket-border);
}

#left .entries > .group:not(:first-child) .winner {
	border-right: var(--bracket-border);
}

#left .entries > .group:not(:last-child) .winner-whitespace {
	border-right: var(--bracket-border);
}

/* HACK: Get rid of extraneous lines. */
#left .group:first-child > .winner-wrapper > .winner {
	border-right: none !important;
}

/* HACK: Get rid of extraneous lines. */
#left .group:last-child > .winner-wrapper > .winner-whitespace {
	border-right: none !important;
}

#right .entries > .bracket-item {
	border-left: var(--bracket-border);
}

#right .entries > .group:not(:first-child) .winner {
	border-left: var(--bracket-border);
}

#right .entries > .group:not(:last-child) .winner-whitespace {
	border-left: var(--bracket-border);
}

/* HACK: Get rid of extraneous lines. */
#right .group:first-child > .winner-wrapper > .winner {
	border-left: none !important;
}

/* HACK: Get rid of extraneous lines. */
#right .group:last-child > .winner-wrapper > .winner-whitespace {
	border-left: none !important;
}

/* fix that annoying offset for border lines */
.winner-wrapper {
	width: calc(max(100vw,var(--min-width))/var(--bracket-columns));
}

.winner {
  align-content: end;
}

.winner, .winner-whitespace {
	min-height: 50%;
	height: 50%;
	max-height: 50%;
}

.bracket-item {
	width: calc(max(100vw, var(--min-width)) / var(--bracket-columns));

	padding: 2pt;

	border-bottom: var(--bracket-border);

	overflow-wrap: break-word;
	hyphens: auto;
}

.entries > .bracket-item:first-child {
	border-top: var(--bracket-border);
}

/* Rainbow spiral, bouncing in and out like the Minecraft splash text, whatever */
/* TODO: This shit does not align properly at 1400px or smaller */
#center {
	width: calc(max(100vw, var(--min-width)) / var(--bracket-columns));

	text-align: center;
	overflow-wrap: break-word;
	hyphens: auto;
}

#overall-winner {
	--winner-banner-width: 3;

	position: relative;
	width: calc(max(100vw, var(--min-width)) / var(--bracket-columns) * var(--winner-banner-width) - 4%);
	left: -98%;
	top: 10rem;

	padding: 0.5rem;

	background-image: url('/img/awesome_dog_bg_1024.jpg');
	background-size: 110%;
	background-repeat: no-repeat;
	background-position: 0 50%;
}

#overall-winner h1,
#overall-winner h2,
#overall-winner span,
#overall-winner p,
#overall-winner a,
#overall-winner a:link,
#overall-winner a:visited {
	-webkit-text-stroke-width: 1pt;
	-webkit-text-stroke-color: rgba(0, 0, 0, 0.1);

	color: var(--c-base) !important;

	text-shadow: 0 0 10px #000;
}

/* TODO: add colors for rounds .level-0 through .level-6 */
/* https://catppuccin.com/palette/#flavor-mocha */

.hidden {
	display: none !important;
}

/**
 * I am not responsible for anything below this comment. I am normal. I am nice.
 */

.drilled-6 .level-5 .winner-whitespace,
.drilled-5 .level-4 .winner-whitespace,
.drilled-4 .level-3 .winner-whitespace,
.drilled-3 .level-2 .winner-whitespace,
.drilled-2 .level-1 .winner-whitespace {
	display: none;
}

.drilled-6 .level-5 .winner,
.drilled-5 .level-4 .winner,
.drilled-4 .level-3 .winner,
.drilled-3 .level-2 .winner,
.drilled-2 .level-1 .winner {
	height: unset;
	max-height: unset;
	min-height: unset;
}

.drilled-6 .level-5 > .entries,
.drilled-5 .level-4 > .entries,
.drilled-4 .level-3 > .entries,
.drilled-3 .level-2 > .entries,
.drilled-2 .level-1 > .entries {
	display: none;
}

.drilled-6 .level-4 .level-5:last-of-type,
.drilled-5 .level-3 .level-4:last-of-type,
.drilled-4 .level-2 .level-3:last-of-type,
.drilled-3 .level-1 .level-2:last-of-type {
	margin-bottom: 2rem;
}

.drilled-6 .level-4 .level-5:first-of-type .bracket-item,
.drilled-5 .level-3 .level-4:first-of-type .bracket-item,
.drilled-4 .level-2 .level-3:first-of-type .bracket-item,
.drilled-3 .level-1 .level-2:first-of-type .bracket-item {
	border-top: var(--bracket-border);
}

.drilled-6 #left .level-4 .level-5:first-of-type .bracket-item,
.drilled-5 #left .level-3 .level-4:first-of-type .bracket-item,
.drilled-4 #left .level-2 .level-3:first-of-type .bracket-item,
.drilled-3 #left .level-1 .level-2:first-of-type .bracket-item {
	border-right: var(--bracket-border) !important;
}

.drilled-6 #right .level-4 .level-5:first-of-type .bracket-item,
.drilled-5 #right .level-3 .level-4:first-of-type .bracket-item,
.drilled-4 #right .level-2 .level-3:first-of-type .bracket-item,
.drilled-3 #right .level-1 .level-2:first-of-type .bracket-item {
	border-left: var(--bracket-border) !important;
}

.drilled-4 #bracket-container {
	padding-bottom: 5rem;
}

.drilled-3 #bracket-container {
	padding-bottom: 10rem;
}

.drilled-2 #bracket-container {
	padding-bottom: 10rem;
}
